<!DOCTYPE html>
<html>
<head>
<meta property="og:site_name" content="BootieTracker"/>
<meta property="og:title" content="Track Dev Bootcamp Students all over the world!"/>
<meta property="og:description" content="Track Dev Bootcamp Students all over the world! Created in 24 hours at the DBC Holiday Hackathon!"/>
<meta property="og:image" content="https://s3.amazonaws.com/stephenitis/preview.png">
<meta property="og:url" content="http://bootietracker.herokuapp.com/">
<meta property="og:type" content="website"/>

<meta name="thumbnail" content="https://s3.amazonaws.com/stephenitis/preview.png" />
  <title>BootieTracker</title>
  <link href='http://fonts.googleapis.com/css?family=Voces' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

</head>
<body>
  <%= render "shared/navbar" %>

<%= yield %>

</body>
</html>
<!-- [
  {
    "featureType": "water",
    "stylers": [
      { "color": "#279d80" }
    ]
  },{
    "featureType": "landscape.natural.terrain",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "landscape.man_made",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "landscape.natural.landcover",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
  }
] -->
